/* -------------------------------------------- LEVEL 1 -----------------------------------------------
----------------------------------------------  TASK 3 -------------------------------------------------
---------------------------------------------- CALCULATOR ---------------------------------------------- */
* {
   font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
 .container {
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:reverse;
    justify-content:space-evenly;
    align-items: center;
    background-color:#f0f8ff;
 }   
 .container .text {
   width:50%;
   height:6rem;
   background-color: #f0f8ff;
 }
 h2 {
   font-size:2rem;
 }
 h2 span {
   color:#ff0000;
   font-size:3rem;
 }
 h1 {
   font-size:4rem;
   color: #0d2f35;
 }
 .calculator {
    padding:15px;
    background-color:#f0f8ff;
    border-radius:15px;
    box-shadow: 8px 8px 30px #000000;
 }
 .calculator form input {
    border:none;
    outline:none;
    width:4rem;
    height:4rem;
    font-size: 1.2rem;
    font-weight: 550;
    background-color:transparent;
    color:#055656;
    box-shadow: -3px -3px 5px rgb(00, 00, 00,0.1), 3px 3px 7px rgb(00, 00, 00,0.8) ;
    border-radius:6px;
    cursor:pointer;
    margin:8px;
 }
  form .screen {
  display:flex;
  justify-content: flex-end;
  margin:20px, 0;
  font-size:3rem;
 }
 form .screen input {
   flex:1;
   text-align: right;
   font-size:2rem;
   box-shadow: none;
 }
 form input.fourthcolumn_btn {
   color:#fff;
   background-color: #679498;
 }
 form input.firstrow_btn{
   color:#fff;
   background-color:#996866;
 }
 form input.equalto {
   width:9rem;
   color:#fff;
   background-color: #679498;
 }
 .flex {
  display:flex;
  
  
 }
